@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  background-image: linear-gradient(
      rgba(59, 59, 59, 0.3),
      rgba(59, 59, 59, 0.3)
    ),
    linear-gradient(
      45deg,
      hsl(240deg 100% 20%) 1%,
      hsl(289deg 100% 21%) 43%,
      hsl(315deg 100% 27%) 50%,
      hsl(329deg 100% 36%) 51%,
      hsl(337deg 100% 43%) 51%,
      hsl(357deg 91% 59%) 49%,
      hsl(17deg 100% 59%) 49%,
      hsl(34deg 100% 53%) 50%,
      hsl(45deg 100% 50%) 57%,
      hsl(55deg 100% 50%) 99%
    );
}

main {
  max-width: 130rem;
  margin: auto 3.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(200px);
  position: relative;
}
h2 {
  font-size: 4.6rem;
  margin-bottom: 1.6rem;
  color: #222;
  display: inline-block; /*for applying grayscale*/
}
h3 {
  margin-bottom: 1.2rem;
  font-weight: normal;
  font-size: 1.8rem;
}

.player-1,
.player-2 {
  background-color: hsla(0, 0%, 100%, 0.736);
  padding: 9.6rem 15rem;
  text-align: center;
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 12.8rem;
  position: relative;
  transition: all 0.5s;
}
.current-score-section-1,
.current-score-section-2 {
  padding-top: auto;
  color: #fff;
  border-radius: 9px;
  padding: 2rem 2rem;
}
.current-score-section-1 {
  background-color: hsl(45deg 100% 50%);
}
.current-score-section-2 {
  background-color: hsl(337deg 100% 43%);
}

.current-score-1,
.current-score-2 {
  font-size: 3.6rem;
  font-weight: bold;
}
.total-score-1,
.total-score-2 {
  font-size: 8rem;
}
.total-score-1 {
  color: hsl(45deg 100% 50%);
}
.total-score-2 {
  color: hsl(337deg 100% 43%);
}

/*buttons*/
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 50rem;
  border: none;
  padding: 1.2rem 2.4rem;
  background-color: #ffffffc3;
  color: #777;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s;
}
.btn:active {
  /*only setting the transform to 3px will set it to 3px in y and reset its previous transformations*/
  transform: translate(-50%, 3px);
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.new-game {
  top: 5rem;
}
.roll-dice {
  bottom: 18rem;
}
.pause-game {
  bottom: 10rem;
}

/* .player-inactive {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.307);
  backdrop-filter: blur(0.6px);
} */

/* .hidden {
  display: none;
} */

.dice-image {
  position: absolute;
  top: 45%;
  left: 50%;
  height: 10rem;
  border-radius: 15px;
  transform: translate(-50%, -80%);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player-won {
  background-color: #222;
  color: rgb(237, 148, 77);
}
.player-inactive {
  opacity: 0.6;
}

.player-won h2 {
  color: inherit;
}
.player-won .total-score-1,
.player-won .total-score-2 {
  color: inherit;
}

.player-won .current-score-section-1,
.player-won .current-score-section-2 {
  background-color: rgb(237, 148, 77);
  color: #000;
}
.hidden {
  display: none;
}

/*classes to change
player-won hidden*/

/*Instruction*/

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.601);
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(100px);
}

.instruction {
  width: 70%;
  height: 70%;
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #555;
  box-shadow: 8px 8px 24px 0 rgb(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 5000;
  padding: 3.2rem;
}
h1 {
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
}

.close-button {
  position: absolute;
  right: 2.5rem;
  top: 0.8rem;
  font-size: 4.4rem;
  cursor: pointer;
  transition: all 0.3s;
  color: #777;
}
.close-button:hover {
  color: #000;
}
li {
  line-height: 1.6;
  margin-bottom: 1.2rem;
  margin-left: 1.2rem;
  font-size: 1.6rem;
}

.instruction p {
  font-size: 2.4rem;
  margin-top: 4.4rem;
  font-weight: 500;
}

span {
  font-size: 3.6rem;
  font-weight: normal;
}
