/*defining variables*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #f1f5f9;
}
h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--color-primary);
  font-weight: 600;
  margin-bottom: 1.2rem;
}
h3 {
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.4;
}
.section-title {
  max-width: 85rem;
  margin: 0 auto;
  margin-top: 12.6rem;
  margin-bottom: 8rem;
}
hr {
  border: 0.1px solid #ddd;
}
/*HERO-SECTION*/
header {
  max-width: 130rem;
  margin: 0 auto;
  height: 100vh;
}
img {
  overflow: clip;
  overflow-clip-margin: content-box;
}
.hidden {
  display: none !important;
}

.section-hero {
  max-width: 115rem;
  margin: 0 auto;
  /* margin-bottom: 6.4rem; */
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-top: 9.6rem;
}
.hero-description {
  align-self: center;
}
.hero-para,
.primary-heading {
  margin-bottom: 2.8rem;
}
.primary-heading {
  font-size: 5.4rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -1px;
}
.hero-image img {
  width: 100%;
}

.hero-para {
  font-size: 2.4rem;
  font-weight: 500;
}

.learn-more:link,
.learn-more:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--color-primary);
  padding-inline: 1px;
  padding: 5px;
  border-bottom: 1px solid currentColor;
  transition: all 0.1s;
}

.learn-more:hover,
.learn-more:active {
  border-color: transparent;
}
.hero-highlight {
  position: relative;
}
.hero-highlight::after {
  content: '';
  position: absolute;
  display: block;
  background: var(--gradient-primary);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.08) skewX(-15deg);
}

/*navigation*/
.flex {
  display: flex;
}

.main-navigation {
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
  padding-top: 1.4rem;
  margin-bottom: 4.8rem;
}
.nav-list {
  margin-left: auto;
}

.nav-list-items {
  gap: 3.2rem;
  list-style: none;
}

.nav-list-item > a:link,
.nav-list-item > a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #555;
}

.company-logo img {
  width: 50%;
}

.open-account:link,
.open-account:visited {
  background-color: var(--color-primary);
  padding: 1.2rem 2.4rem;
  font-weight: 500;
  border-radius: 100vw;
  color: #222 !important;
  transition: all 0.3s;
}

.open-account:hover,
.open-account:active {
  background-color: var(--color-primary-darker);
}

/*FEATURE-SECTION*/
.section-features {
  margin-bottom: 8rem;
}
.feature-grid {
  max-width: 115rem;
  gap: 4.4rem;
  /* row-gap: 1.4rem; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  margin-bottom: 9.6rem;
}

.feature-description {
  flex-direction: column;
  gap: 1.4rem;
  align-self: center;
  justify-self: center;
  width: 80%;
}

.img-lzy {
  width: 100%;
  filter: blur(20px);
}
.feature-icon {
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-primary-opacity);
  margin-bottom: 1.2rem;
}
.feature-icon > svg {
  width: 3rem;
  height: 3rem;
  fill: var(--color-primary);
}

.feature-title {
  font-size: 2.2rem;
  font-weight: 600;
}
.feature-info {
  font-size: 1.6rem;
  color: #666;
  line-height: 2;
}

/*OPERTAION SECTION*/
.operation-main {
  position: relative;
  margin: 0 auto;
  max-width: 100rem;
  background-color: #fff;
  margin-block: 12.6rem;
}

.operation-buttons {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  transform: translate(-50%, -50%);
}
.operation-btn {
  border: none;
  padding: 1.6rem 4.8rem;
  font-size: 1.8rem;
  border-radius: 100vw;
  cursor: pointer;
  transition: all 0.3s;
}

.operation-details {
  display: grid;
  grid-template-columns: 10fr 90fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
  align-items: center;
  padding: 6.5rem 7rem;
  /* justify-items: center; */
}
.operation-icon {
  height: 6rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1rem;
  justify-self: center;
}
.operation-icon > svg {
  width: 3rem;
  height: 3rem;
}
.operation-info {
  font-size: 1.6rem;
  color: #777;
  grid-column: 2;
  line-height: 2;
}
.operation-name {
  font-size: 2.4rem;
  font-weight: 500;
}
.icon-1 {
  background-color: var(--color-secondary-opacity);
}
.icon-1 > svg {
  fill: var(--color-secondary);
}
.operation-btn-1 {
  background-color: var(--color-secondary);
}
.operation-btn-1:hover {
  background-color: var(--color-secondary-darker);
}

.operation-btn-2 {
  background-color: var(--color-primary);
}

.operation-btn-2:hover {
  background-color: var(--color-primary-darker);
}
.operation-btn-3 {
  background-color: var(--color-tertiary);
}

.operation-btn-3:hover {
  background-color: var(--color-tertiary-darker);
}
.icon-2 {
  background-color: var(--color-primary-opacity);
}
.icon-2 > svg {
  fill: var(--color-primary);
}
.icon-3 {
  background-color: var(--color-tertiary-opacity);
}
.icon-3 > svg {
  fill: var(--color-tertiary);
}

/*to-transform button when clicked*/
.operation-btn-1 {
  transform: translateY(-0.8rem);
}
